<div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="bg.jpg" alt="">
      </div>
      <div class="name">{{ name }}</div>
      <div class="desc">{{ role }}</div>
      <a href="https://github.com/{{ github }}" class="contact-btn">{{ github }}</a>
    </div>
    <div class="card-footer">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:hil@email.com">{{ email }}</a></li>
        </ul>
    </div>
    </div>
  </div>